body{
    background-color: darkslategrey;
    margin: 0;
    padding: 0;
    color: navajowhite;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    height: 100%;
    width: 100%;

}
.cat-banner {
    background-image: url("./pictures/programmercat2.jpeg");
    display: grid;
    align-content: center;
    text-align: left;
    padding-top: 30vh;
    padding-left: 10%;
    padding-bottom: 15vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -10vh;
    height: 32vh;
}
h1 {
    font-size: 60px;
}
p {
    font-size: 18px;
    word-spacing: 0.4em;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
}
a{
    color: goldenrod;
}
.nav-bar{
    width: 100%;
    padding: none;
    margin: none;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 6vh;
    background-color: darkolivegreen;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.nav-bar nav{
    padding: 1em 5em 1em;
    opacity: 100%;
    transition: opacity 0.25s;
    border-radius: 0% 0% 8px 8px;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.banner {
    margin: 0 0.6em 0;

    font-size: 16px;

    padding: 2px;

    transition-property: all;
    transition-property: 0.175, 0.885, 0.32, 1.275;
    transition-duration: .4s;
}
.banner:hover {
    color: gold;

    border-radius: 10px;
    height: .1vw;
    width: .1vw;
    background-color: grey;


}
.landing{
    display: grid;
    align-items: left;
    justify-content: left;
    align-content: left;
    line-height: 0.5vh;

}
.landing-text h1, .landing-text h2{
    letter-spacing: 0.1em;
}
.hover-head{
    margin-top: 1em;
    margin-bottom: 1em;


}
.hover-head span{
    background-color: black;
    transition: 0.25s;
    transition-timing-function: 0.175;
    width: 100;

    padding:10px;
    opacity: 85%;

    border: solid;
}
.hover-head span:hover{
    color: gold;
    letter-spacing: 0.2em;
}
.landing h1, .landing h2{
    text-decoration: underline wheat 3px;
    text-underline-offset: 5px;
}
img{
    margin: 0;
    border-radius: 8px;
}
section {
    background-color: gray;
}
.content{
    padding: 10vh 0vw 10vh;
    display: grid;
    grid-template-columns: 40vw 50vw;
    justify-content: center;
    background-color: black;
}
.text-box{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.text{
    width: 25vw;
    word-spacing: 5px;
    display: grid;
    text-align: justify;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.content-link{
    color: goldenrod;
    letter-spacing: normal;
    word-spacing: 0.1em;
    text-align: left;
    opacity: 80%;
    transition-property:letter-spacing opacity ;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: .1s;
}
.content-link:hover{
    letter-spacing: .05em;
    opacity: 100%   ;
}
.alt-cont-link{
    text-align: center;
}
.cont-header{
    transition-property: color;
    transition-timing-function: transform 0.5s;
    transform-origin: left;
    transition-duration: 0.5s;
}
.text h1, .text h2, .text h3{
    text-align: left;
    text-decoration: underline navajowhite 5px;
    text-underline-offset: 15px;
}
.image-gallery{
    width: 100%;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.5vh;
    display: grid;
    grid-template-columns: 1fr 390px;
    grid-auto-rows: 35vh;
    gap: 1.5vh;
}
.image-gallery img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border: solid 2px #3498db ;

    transition: opacity;transition-timing-function: ease-in-out;
}
.image-gallery img:hover{
    transform: scale(1.05);
}